.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
  text-align: center;
  background-image: url(../public/tubes.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9;
}

.hero h1 {
  width: 1000px;
  font-family: "Lato", Arial, sans-serif;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 15px;
  text-align: center;
}

.hero span {
  color: #d4af37;
}

.hero p {
  width: 1000px;
  font-size: 20px;
  /* margin-left: auto; */
  margin-bottom: 30px;
  text-align: center;
  line-height: 1.5;
  font-family: "Lato", Arial, sans-serif;
}

.hero button {
  padding: 10px 20px;
  font-size: 20px;
  font-family: "Lato", Arial, sans-serif;
  background-color: #d4af37;
  color: #121212;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-bottom: 30px;
  text-align: center;
}

.hero button:hover {
  background-color: #b99932;
  transition: all 0.3s ease-in-out;
}
